* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem #9c9c9c;
  transition: all 300ms;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 300;
  color: #2E2E2E;
}

.main {
  margin: 2rem 10rem;
  width: 51rem;
  height: 80rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  border-radius: 9px;
  background-image: linear-gradient(135deg, #FFFFFF, #EAEAEA);
  overflow: scroll;
}

.secondary-heading {
  margin: 0 0 20px 0;
  font-size: 2.5rem;
}

.container {
  padding: 2rem;
}

header {
  margin: 0 0 40px 0;
}

nav {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.back,
.log-in {
  text-decoration: none;
  color: black;
}

.gear:link,
.gear:visited {
  color: #2E2E2E;
}

.settings {
  transition: all 200ms;
  font-size: 4rem;
}

.settings:hover {
  transform-origin: center;
  transform: rotate(30deg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 70px 0;
}

.switch {
  margin: 2rem 0 0 0;

  background-color: #bcbcbc;
  width: 32rem;
  height: 10rem;

  border-radius: 100rem;
  box-shadow: inset -4px 4px 14px 0 #767676;
}

.circle {
  background-color: #f6f6f6;
  height: 8rem;
  width: 8rem;
  cursor: pointer;
  transform: translate(20%, 12%);

  border-radius: 50%;
  border: none;
  box-shadow: 3px 3px 9px 2px #a9a9a9;
}

.circle::after {
  content: "light";
  text-transform: uppercase;
  position: absolute;
  font-size: 4rem;
  color: #fff;
  font-weight: 500;
  transform: translate(8rem, -2rem);
}

.blocked,
.upload,
.mode,
.twilio {
  margin: 5rem 0 0 0;
  width: 100%;
}

.blocked ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.blocked-sites {
  display: flex;
  justify-content: space-between;
}

.blocked-sites a {
  color: black;
  font-size: 3rem;
}

.modes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 0 3rem 0;
}

.modes p {
  font-size: 2rem;
}

.modes span {
  font-size: 1.5rem;
}

.disclaimer {
  font-size: 1.5rem;

}

.call {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.call label {
  font-size: 1.6rem;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 0 2rem 0;
}

.outline {
  width: 32rem;
  height: 32rem;
  border: 10px solid #EAEAEA;
  border-radius: 50%;
  margin: 0 0 25px 0;
}

.time {
  position: absolute;
  font-weight: 500;
  background-color: transparent;
  border: none;
  text-align: center;
  transform: translate(0, -30%);
}

.min,
.sec,
.sep {
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 5rem;
  width: 10rem;
  color: #2E2E2E;
}

.min:focus,
.sec:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem transparent;
}

.time::after {
  content: "seconds";
  text-transform: uppercase;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-25%, 100%);
}

.time::before {
  content: "minutes";
  text-transform: uppercase;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(25%, 100%);
}

.buttons {
  display: flex;
  gap: 3rem;
  margin: 0 0 25px 0;
}

.break-btn,
.focus-btn {
  padding: 1rem 4rem;
  font-size: 2.3rem;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  transition: all 300ms;
  background-color: rgba(186, 217, 191, 0.3);
}

.break-btn:hover {
  background-color: rgba(186, 217, 191, 0.5);
}

.break-btn:active {
  background-color: rgba(186, 217, 191, 0.7);
}

.focus-btn {
  background-color: #2E2E2E;
  color: #FFFFFF;
  font-weight: 600;
}

.focus-btn:hover {
  background-color: #1A1A1A;
}

.focus-btn:active {
  background-color: #404040;
}

.start {
  border: none;
  padding: 1rem 13rem;
  font-size: 2.3rem;
  border-radius: 7px;
  cursor: pointer;
  background-color: white;
  color: #2E2E2E;
}

.start:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem #9c9c9c;
}

.blocklist-label {
  font-size: 3rem;
  font-weight: 400;
}

.blocklist-input {
  border: none;
  font-size: 2rem;
  margin: 15px 0 0 0;
  padding: 1.3rem 1.5rem;
  width: 33.5rem;
  border-radius: 7px;
  background-color: #e3e3e3;
  text-align: left;
}

.add {
  background-color: #F2F2F2;
  color: #2E2E2E;
  font-size: 2rem;
  padding: 1.3rem 2.2rem;
  border-radius: 7px;
  margin: 0 0 0 30px;
  cursor: pointer;
  transition: all 300ms;
}

.add:hover {
  background-color: #DDDDDD;
}

.add:active {
  background-color: #FFFFFF;
}